#container {
    width: auto;
    height: 300px;
    border: 1px solid blue;
    box-sizing: inherit;
    text-align: center;
    padding: 15px;
}

#header {
    text-align: center;
    width: auto;
    height: 150px;
    border: 5px double black;
    margin: 5px;
}